<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head> 
<body>
    <div class="login-container">
        <div class="login-card">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
            </svg> 
        </div> 
        <h1>Iniciar Sesión</h1>
        <p class="subtitle">Ingresa tus credenciales para acceder a tu cuenta</p>

        <form method="POST" action="{{ url_for('inicio')}}">
            <div>
                <label>Correo Electrónico</label>
                <div class="input-wrapper">
                    <svg class="input-icon" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8"/>
                    </svg>
                    <input class="form-input" type="email" placeholder="Correo electrónico" name="correo_electronico">
                </div>
            </div>
            
            <div>
                <label>Contraseña</label>
                <div class="input-wrapper">
                    <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                    <input class="form-input" type="password" placeholder="******" name="contrasena">
                </div>
            </div>

            <div>
                <label class="label-check">
                    <input class="label-input" type="checkbox">Recordarme
                </label>
            </div>

            <div>
                <button class="btn-button" type="submit">Iniciar Sesión</button>
            </div>

        </form> 

        <p>
            ¿No tienes cuenta?
            <a href="/registro">Registrate</a>
        </p>
    </div>
</body>
</html>